<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script> 
</head>

<body>

  <h1>Jamie</h1>

  <p id="bio">
  This is a website dedicated to my second favorite animal, the alpaca
  <img src="http://cdn.modernfarmer.com/wp-content/uploads/2015/09/alpacayawn.jpg"
  alt="alpaca yelling" align="middle" height="400" width="600">
  </p>
  
  <p id="demo">
    I want a pet alpaca!
  </p>

  <button type="button" onclick="myFunction()">
    Isn't that a llama?
  </button>

</body>

</html>