<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script> 
</head>

<body>

  <h1>Jamie</h1>

  <p id="demo">
    I want a pet alpaca!
  </p>
  
  <p id="bio">
  This is a website dedicated to my second favorite animal, the alpaca
  </p>

  <button type="button" onclick="myFunction()">
    Try it
  </button>

</body>

</html>