<html lang="en">

<head>
  <% include ../partials/header %>
</head>

<body>

  <main>
  <div class="jumbotron">
      <h1>Look at these gorgeous creatures!</h1>
  </div>

  <div class="imagecontainer">
    <img id="alpacas2" src="/images/alpacas2.jpeg">
    <img id="alpacas kissing" src="/images/alpacas kissing.jpg">
    <img id="majestic" src="majestic alpaca.jpeg">
  </div>
  </main>

</body>
</html>

