<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header %>
</head>

<body>

  <main>
   <div class="jumbotron">
     <h1>Why?</h1>
   </div>
   <div class="content">
     <h2>You may be asking: Why is this girl want an alpaca so bad? Don't they spit at people?</h2>

     <h3>Well, THEY DON'T! Llamas spit, not alpacas. Alpacas are very sweet animals and they just want to have a fun time without spitting at people</h3>
     </div>
     </main>

     <footer>
       <% include ../partials/footer %>
       </footer>
 </body>
 </html>
